<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">  <!-- referenciando um arquivo -->
<head>
    <title>Lista de filmes</title>
</head>
<body>
  <div layout:fragment="conteudo">
    <h1>Lista de filme</h1>
    <a href="/filmes/formulario">Novo</a>


    <table>
      <thead>
        <tr>
          <th>NOME</th>
          <th>DURACAO</th>
          <th>ANO DE LANCAMENTO</th>
          <th>GÊNERO</th>
          <th>AÇÕES</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="filme : ${lista}"> <!-- fazendo um loop com o thymeleaf para mostrar todos os itens do array lista -->
          <td th:text="${filme.nome}"></td>
          <td th:text="${filme.duracaoEmMinutos}"></td>
          <td th:text="${filme.anoLancamento}"></td>
          <td th:text="${filme.genero}"></td>
          <td>
            <a th:href="@{/filmes/formulario?id={id}(id=${filme.id})}">Editar</a>  <!-- Navegando entre links no thymeleaf  -->

            <form action="/filmes" method="post"> <!-- Criando metodo para excluir -->
              <input type="hidden" name="_method" value="delete">
              <input type="hidden" name="id" th:value="${filme.id}">
              <input type="submit" value="Excluir">
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>